[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
djongo = "*"
django-cors-headers = "*"
pymongo = {extras = ["srv"], version = "*"}
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
